In [ ]:
#rivya singla
#prn-25070123091
#xperiment-6 study of conditional statements in python

In [ ]:
#1a. check wether a number is positive,negative
#1a. check wether a number is positive,negative,zero
num = int(input("Enter a number: "))

if num > 0:
    print("The number is positive")
elif num < 0:
    print("The number is negative")
else:
    print("The number is zero")

Enter a number: 4
The number is positive

In [ ]:
#check wethher a number is even or odd
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("the number is even")
else:
    print("the number is odd")

Enter a number: 3
the number is odd

In [ ]:
# find out the largest number amongst these number

num1 = (input("Enter first number: "))
num2 = (input("Enter second number: "))
num3 = (input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

Enter first number: 3
Enter second number: 5
Enter third number: 6
The largest number is 6.0

In [ ]:
# get the input from user for a subject and calculate grade if-elif-else

score = float(input("Enter the subject score: "))

if score >= 90:
    grade = 'A'
elif score >= 75:
    grade = 'B'
elif score >= 50:
    grade = 'C'
elif score >= 40:
    grade = 'D'
else:
    grade = 'F'

print("The grade is:", grade)

Enter the subject score: 87
The grade is: B

In [ ]:
#create a program for the given year is leap year or not

year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 1996
1996 is a leap year.

In [3]:
# check whether a character is vowel or constant
ch = input("enter a character: ")
if ch in 'aeiouAEIOU':
  print("vowel")
else:
  print("consonent")

enter a character: A
vowel

In [5]:
# salary calculation with allowances
'''problem statement:
write a python program to calculate the gross salary of

if basic <= 10000: HR = 20%, DA = 80%
if basic <= 20000: HR = 25%, DA = 90%
otherwise; HRA = 30%, DA = 95%'''

basic = float(input("Enter basic salary: "))

if basic <= 10000:
    hra = basic * 0.20
    da = basic * 0.80
elif basic <= 20000:
    hra = basic * 0.25
    da = basic * 0.90
else:
    hra = basic * 0.30
    da = basic * 0.95

gross_salary = basic + hra + da

print("Basic Salary:", basic)
print("HRA:", hra)
print("DA:", da)
print("Gross Salary:", gross_salary)

Enter basic salary: 10000
Basic Salary: 10000.0
HRA: 2000.0
DA: 8000.0
Gross Salary: 20000.0

In [7]:
'''10 write a python program to calculate income tax based on anual income:
up to 2,50,000: no tax
2,50,001 - 5,00,000: 5% tax
5,00,000 - 10,00,000 : 20% tax
above 10,00,000: 30% tax'''
income = float(input("Enter annual income: "))

tax = 0

if income <= 250000:
    tax = 0
elif income <= 500000:
    tax = (income - 250000) * 0.05
elif income <= 1000000:
    tax = (250000 * 0.05) + (income - 500000) * 0.20
else:
    tax = (250000 * 0.05) + (500000 * 0.20) + (income - 1000000) * 0.30

print(f"Annual Income: {income:.2f}")
print(f"Calculated Income Tax: {tax:.2f}")

Enter annual income: 457655.68
Annual Income: 457655.68
Calculated Income Tax: 10382.78

In [3]:
date_str = input("Enter date in dd/mm/yyyy format: ")
try:
    dd, mm, yy = map(int, date_str.split('/'))
except ValueError:
    print("Invalid date format. Please use dd/mm/yyyy.")
else:
    # Determine max days in month
    max_days_in_month = 0

    if mm in [1, 3, 5, 7, 8, 10, 12]:
        max_days_in_month = 31
    elif mm in [4, 6, 9, 11]:
        max_days_in_month = 30
    elif mm == 2:
        # Check for leap year
        if (yy % 4 == 0 and yy % 100 != 0) or (yy % 400 == 0):
            max_days_in_month = 29
        else:
            max_days_in_month = 28

    # Validate date
    if mm < 1 or mm > 12:
        print("Date is invalid: Month out of range")
    elif dd < 1 or dd > max_days_in_month:
        print("Date is invalid: Day out of range for the given month and year")
    else:
        # Increment date logic
        dd += 1
        if dd > max_days_in_month:
            dd = 1
            mm += 1
            if mm > 12:
                mm = 1
                yy += 1

        print(f"The incremented date is: {dd:02d}/{mm:02d}/{yy}")

Enter date in dd/mm/yyyy format: 23/10/2006
The incremented date is: 24/10/2006